.logo {
    font-weight: bolder;
    cursor: pointer;
    color: aqua;
}
.full-height{
    height:88.6vh;
    overflow-y : auto;
}
.purple-bg{
    background-color:#292633;
}
.gray-bg{
    background-color: #D3D3D3;
}
.card-animation{
    transition: transform .2s;
}
.card-animation:hover {
    transform: scale(1.05);
    z-index: 10;
}
.margin{
    margin:10px;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
