<div class="container-fluid background-doodle" style="height:100vh;overflow-y:auto;">
  <div class="row h-100">
    <br>
      <div class="col-12 d-flex justify-content-center">
          <h1 id="logo">Meeting Planner</h1>
        </div>
    <div class="col align-self-center modal-dialog-centered">
      <div class="modal-content modal-dialog">
        <div class="container">
          
          <div class="row modal-body">
            <div class="col">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <!-- [(ngModel)] and #ngModel name should not be same -->
                <input type="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]='email' #emailText="ngModel" class="form-control"
                  id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address" required>
                <small [hidden]="emailText.valid || emailText.untouched || emailText.errors?.required" class="form-group text text-danger"
                  style="margin-left:5px;">
                  <b>Email format should be <i>john@doe.com</i>.</b>
                </small>
                <small [hidden]="emailText.errors?.pattern || emailText.untouched || emailText.valid" class="form-group text text-danger"
                  style="margin-left:5px;">
                  <b>Email id is required</b>
                </small>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-6 col-12">
                    <label for="exampleInputfirstName1">First Name</label>
                    <input type="text" [(ngModel)]='firstName' #firstNameText="ngModel" class="form-control" id="exampleInputfirstName1" placeholder="First Name"
                      required>
                    <small [hidden]="firstNameText.untouched || firstNameText.valid" class="form-group text text-danger" style="margin-left:5px;">
                      <b>FirstName is required</b>
                    </small>
                  </div>
                  <div class="col-lg-6 col-12">
                    <label for="exampleInputlastName1">Last Name</label>
                    <input type="text" class="form-control" [(ngModel)]='lastName' id="exampleInputlastName1" placeholder="Last Name">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">User Name</label>
                <input type="text" [(ngModel)]='userName' minlength="8" #userNameText="ngModel" class="form-control"
                    placeholder="User Name" required>
                <small [hidden]="userNameText.valid || userNameText.untouched || userNameText.errors?.required" class="form-group text text-danger"
                  style="margin-left:5px;">
                  <b>User name must be atleast 8 characters long</b>
                </small>
                <small [hidden]="userNameText.errors?.minlength || userNameText.untouched || userNameText.valid" class="form-group text text-danger"
                  style="margin-left:5px;">
                  <b>User Name is required</b>
                </small>
              </div>
              <div class="form-group">
                <div class="row">
                  <label class="col" for="exampleInputfirstName1">Mobile Number</label>
                </div>
                <div class="row no-gutters">
                  <div class="col-3">
                    <select (change)="onChange($event.target.value)" class="form-control p-0" required *ngIf="countryNamesArray">
                      <option selected disable hidden value="">Select</option>
                      <option *ngFor="let country of countryNamesArray" [value]="country[0]">{{country[1]}}</option>
                    </select>
                  </div>
                  <div class="col-lg-2 col-3 d-flex align-items-center justify-content-end">
                    <span *ngIf="countryCode">+{{countryCode}}&nbsp;</span>
                  </div>
                  <div class="col-lg-7 col-6">
                    <input type="text" class="form-control" [(ngModel)]='mobileNumber' placeholder="Mobile">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-6 col-12">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" [(ngModel)]='password' minlength="8" #passwordText="ngModel" class="form-control" id="exampleInputPassword1"
                      placeholder="Password" required>
                    <small [hidden]="passwordText.valid || passwordText.untouched || passwordText.errors?.required" class="form-group text text-danger"
                      style="margin-left:5px;">
                      <b>Password must be atleast 8 digit long</b>
                    </small>
                    <small [hidden]="passwordText.errors?.minlength || passwordText.untouched || passwordText.valid" class="form-group text text-danger"
                      style="margin-left:5px;">
                      <b>Password is required</b>
                    </small>
                  </div>
                  <div class="col-lg-6 col-12">
                    <label for="exampleInputPassword2">Confirm Password</label>
                    <input type="password" [(ngModel)]='confirmPassword' #confirmPasswordText="ngModel" class="form-control" id="exampleInputPassword2"
                      placeholder="Confirm Password" (keydown)="$event.keyCode==13?signupFunction():null" required>
                    <small *ngIf="confirmPasswordText.value!=passwordText.value && confirmPasswordText.dirty" class="form-group text text-danger"
                      style="margin-left:5px;">
                      <b>Passwords Doesnt Match</b>
                    </small>
                    <small [hidden]="confirmPasswordText.invalid || confirmPasswordText.value!=passwordText.value" class="form-group text text-success"
                      style="margin-left:5px;">
                      <b>Passwords Matched</b>
                    </small>
                  </div>
                </div>
              </div>
              <div class="modal-footer container">
                <div class="col">
                  <a [routerLink]="['/login']">Login</a>
                </div>
                <button type="submit" class="btn btn-success" [disabled]="password!= confirmPassword" (click)="signupFunction()">Sign
                  Up</button>
              </div>
              <div class="col-12 text-muted text-center">
                  Be updated with your planner app
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>